.text-area:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0;  /* removes inner highlight border */
    -fx-effect: null;          /* removes drop shadow glow */
}

.button, Label {
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.button {
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: white;
}

.button:hover {
    -fx-background-color: #6b8edb;
}
